.exercise-container {
    height: 126px;
    width: 140px;
    border: 1px solid #EBEFF2;
    border-radius: 4px;
    z-index: 1;
}
.exercise-image-wrapper{
    height: 100px;
    overflow: hidden;
    
}
.exercise-image {
    width: auto;
    height: 100%;
    transform: scale(1.35);
    object-fit: cover ;
    border-radius: 4px 4px 0px 0px;
}

.exercise-image-text {
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    color: #43474E;
   
}
.gutter-col-adder{
    margin: 10px 0;

}
