.placeholder {
    height: 130px;
    width: 150px;
    background: #F0F3F5;
    border-radius: 4px 4px 0px 0px;
    display: flex;
    flex-direction: column;
   
}
.placeholder-body{
    flex: 0.75;
    
}
.placeholder-footer{
    flex: 0.25;
    width: 100%;
    background-color: white;
    border: 1px solid #F0F3F5;
    border-left: 0.5px solid #F0F3F5;
    border-right: 0.5px solid #F0F3F5;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-lines{
    width: 90%;
    margin: 3px auto;
    height: 5px;
    background-color: #F0F3F5;;
    border-radius: 5px;

}